<body >
    <!-- <h1 class="title">FRONT-END / BACK-END SKILLS </h1>
  <p class="section__text__p1">The skills that I honed for the past years. </p> -->
    <div class="skill-bars">
      <div class="bar">
        <div class="info">
          <span>HTML</span>
        </div>
        <div class="progress-line html">
          <span></span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <span>CSS</span>
        </div>
        <div class="progress-line css">
          <span></span>
        </div>
      </div>
      <div class="bar">
        <div class="info">
          <span>Javascript</span>
        </div>
        <div class="progress-line jquery">
          <span></span>
        </div>
      </div>


      <div class="bar">
        <div class="info">
          <span>Angular</span>
        </div>
        <div class="progress-line python">
          <span></span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <span>Type Script</span>
        </div>
        <div class="progress-line mysql">
          <span></span>
        </div>
      </div>
    </div>
  </body>