<body >

  <!-- <h1 class="title"><fa-icon [icon]="faUpDown"> </fa-icon></h1> -->

  <div class="skill-bars" >
    <div class="bar">
      <div class="info">
        <span>MySQL</span>
      </div>
      <div class="progress-line html">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>phpMyAdmin</span>
      </div>
      <div class="progress-line css">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>PHP</span>
      </div>
      <div class="progress-line jquery">
        <span></span>
      </div>
    </div>


    <!-- <div class="bar">
      <div class="info">
        <span>Azure DevOps</span>
      </div>
      <div class="progress-line python">
        <span></span>
      </div>
    </div> -->

    <!-- <div class="bar">
      <div class="info">
        <span>Type Script</span>
      </div>
      <div class="progress-line mysql">
        <span></span>
      </div> -->
  </div>
</body>