<h1 class="title">FRONT-END | BACK-END SKILLS </h1>
<p class="section__text__p1">The skills that I honed for the past years. </p>
<body>

    <div class="logos">
      <div class="logos-slide">
        <img src="../../../assets/css.png" />
        <img src="../../../assets/html.png" />
        <img src="../../../assets/javascript.png" />
        <img src="../../../assets/AngularD.png" />
        <img src="../../../assets/php.png" />
        <img src="../../../assets/typescript.png" />
        <img src="../../../assets/Wordpress.png" />
        <img src="../../../assets/MySQL.png" />
      </div>

      <div class="logos-slide">
        <img src="../../../assets/css.png" />
        <img src="../../../assets/html.png" />
        <img src="../../../assets/javascript.png" />
        <img src="../../../assets/AngularD.png" />
        <img src="../../../assets/php.png" />
        <img src="../../../assets/typescript.png" />
        <img src="../../../assets/Wordpress.png" />
        <img src="../../../assets/MySQL.png" />
      </div>
    </div>
  </body>