<body appShowOnScroll>
  <h1 class="title">PROJECTS</h1>
  <p class="section__text__p1">A Collection of projects I've worked on. </p>
  <div class="card-list">
      <a href="#" class="card-item">
          <img src="../assets/careerpath.png" alt="Card Image">
          <span class="developer">Website Application</span>
          <h2>T.U.A Career Path System</h2>
          <h3>Was responsible on developing a career path quiz
            system for the upcoming students of TUA. Using
            Javascript, PHP, and Wordpress.
            </h3>
          <div class="arrow">
              <fa-icon class="fas fa-arrow-right card-icon" [icon]="faArrowCircleRight"></fa-icon>
          </div>
      </a>
      <a href="#" class="card-item">
          <img src="../../../assets/IMCI.png" alt="Card Image">
          <span class="designer">Mobile Application</span>
          <h2>YourGuide: IMCI On The Go </h2>
          <h3>Developed a system that integrates all available
            measures for disease prevention and health
            problems during childhood.
            </h3>
          <div class="arrow">
            <fa-icon class="fas fa-arrow-right card-icon" [icon]="faArrowCircleRight"></fa-icon>
          </div>
      </a>
      <a href="#" class="card-item">
          <img src="../../../assets/ppsc.png" alt="Card Image">
          <span class="editor">Automation</span>
          <h2>Personnel Management System | Attendance Management System</h2>
          <h3>Personnel Management System for the goverment employees informations.  Personnel Management System for the goverment.</h3>
          <div class="arrow">
            <fa-icon class="fas fa-arrow-right card-icon" [icon]="faArrowCircleRight"></fa-icon>
          </div>
      </a>
  </div>
</body>