<section id="about" >
  <h1 class="title">ABOUT ME </h1>
    <p class="section__text__p1">My education and experiences. </p>
    <div class="section-container">
      <div class="section__pic-container">
        <img
          src="../assets/About_me.jpg"
          alt="Profile picture"
          class="about-pic"
        />
      </div>
      <div class="about-details-container"> 
        <div class="about-containers">
          <div class="details-container">
            <img
              src="../assets/experience.png"
              alt="Experience icon"
              class="icon"
            />
            <h3>Experience</h3>
            <p>2+ years <br />Web Development</p>
          </div>
          <div class="details-container">
            <img
              src="../assets/education.png"
              alt="Education icon"
              class="icon"
            />
            <h3>Education</h3>
            <p>Bachelors Degree In Information Technology <br /> Specialized in Software Engineering</p>
          </div>
        </div>
        <div class="text-container">
          <p>
            I created an automation for the government. I also took a udemy training with accenture as a front-end developer which is Angular, Git, 
            Visual Studio Code and Received a Certifications for each. I also took a beginner to advance of HTML, CSS and Javascript in UDEMY.  I am eager to learn more
            things as a web-developer. A team player but can also run with projects independently.
          </p>
        </div>
      </div>
    </div>

  </section>